doctype html
html(lang="en")
	head
		include ../utils/head	
	body.event
		include ../components/navbar
		include ../components/eventHeading
		+eventHeading('../resources/blockchain.jpg','At this III experts will tell the relevant information on the following topics: - Trendy in the ICO and bitcoin; - Mining; - Legal issues.')
		.container
			p.flow-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nesciunt fuga, ipsum eligendi expedita, corrupti temporibus totam ducimus quas quam aliquid perferendis hic ex quo cupiditate itaque unde soluta numquam.
			p.flow-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, enim totam quisquam cumque quis mollitia deleniti magnam repellendus qui, distinctio ipsa alias temporibus officia iste corporis quas! Porro, necessitatibus officiis!
			p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque, recusandae rem corporis illo assumenda consequatur, quos nulla minus perferendis facilis harum eveniet quam reprehenderit, atque quisquam culpa ullam!
			p.flow-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id magni nulla voluptate eius, a nobis accusamus distinctio porro quo assumenda minus obcaecati hic aliquid quos amet laboriosam pariatur maiores nam.
		include ../components/participateButton