.carousel.carousel-slider.center(data-indicators='true')
  .carousel-item.blue-grey.lighten-5
    i.large.material-icons insert_chart
    h1 organize your day easily.
  .carousel-item.blue-grey.lighten-4
    i.large.material-icons assistant_photo
    h1 reach your goal and be successfull.
  .carousel-item.blue-grey.lighten-3
    i.large.material-icons access_alarm
    h1 you should never forget about your meetings.