doctype html
html(lang="en")
  head
    include utils/head
  body
    include components/navbar
    include components/carousel
    include components/motivateSection
    include components/exploreSection
    include components/footer